html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom in iOS */
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
